/* Styling Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1f5f9;
}

.title-tabel {
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-hapus {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Box Peringatan Jatuh Tempo */
.box-warning {
    margin-top: 30px;
    padding: 15px;
    background-color: #fffbebfb;
    border: 1px solid #fef3c7;
    border-radius: 6px;
}

.text-bahaya {
    color: #dc2626;
    font-weight: bold;
}

.text-peringatan {
    color: #d97706;
}

.text-aman {
    color: #16a34a;
}
